<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/style.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:300,400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Mukta:500|Roboto:300" rel="stylesheet">
</head>
<body>
    <div class="breeder-container">
        <div class="logo-img-breeder">
            <img src="~/Img/logo1-white.png" height="100" />
        </div>
        <div class="breeder-menu-box">
             <a href="@Url.Action("Index", "Breeder")"> <div class="breeder-button">
                My Account
            </div> </a>
             <a href="@Url.Action("Tarantulas", "Breeder")"> <div class="breeder-button">
                Tarantulas
            </div> </a>
            <a href="@Url.Action("Others", "Breeder")"> <div class="breeder-button">
                Others
            </div> </a>
            <a href="@Url.Action("ForSale", "Breeder")"> <div class="breeder-button">
                For Sell
            </div> </a>
            <a href="@Url.Action("Index", "Home")"><div class="breeder-button">
                Home
            </div></a>
         </div>
        <div class="breeder-content">
            @RenderBody()
        </div>
    </div>
</body>
</html>
